.btnFinlizar{
    background-color: goldenrod;
    width: 200px;
    height: 100px;
    border-radius: 20px;
} 
.espacio{
    padding: 15px;
}
.btn-count{
    background-color: goldenrod;
    width: 140px;
    height: 50px;
    border-radius: 20px;
}
.btn-count:hover{
    background-color:crimson;
    width: 100px;
    height: 50px;
}
.num{
    margin: 10px;
    } 
.text{
    color: black;
    text-align: center;
    font-size: 15px;
    font-weight:40px;
    font-family:Arial, Helvetica, sans-serif
}
.comprar{
background-color: goldenrod;
width: 100px;
height: 50px;
border-radius: 20px;
}
.comprar:hover{
background-color:crimson;
width: 100px;
height: 50px;
}
.Finalizar-Compra{
background-color: goldenrod;
width: 100px;
height: 50px;
border-radius: 20px;
}
.Finalizar-Compra:hover{
background-color:crimson;
width: 100px;
height: 50px;
}
.Borrar-Producto{
background-color: goldenrod;
width: 100px;
height: 50px;
border-radius: 20px;
}
.Borrar Producto:hover{
background-color:crimson;
width: 100px;
height: 50px;
}